/* univarsal selector  */
* {
  margin: 0;
  padding: 0;
}

/* header nav a {
  color: black;
} */
#head .navbar a {
  color: black;
}

/* a {
  color: black;  
} */

/* tag selector  */
/* div {
        background-color: green;
      } */
/* id selector  */
#listDiv {
  background-color: mistyrose;
}

/* class selector  */
.imageContainer {
  background-color: red;
}

h1 {
  color: red;
}

/* h1{
  color: yellow;
}
header nav a{
  color: yellow;
}

div ul li{
  color: yellow;
} */

h1,
header nav a,
div ul li {
  color: yellow;
  font-size: 4px;
}

/* .heading {
  color: blue;
} */

#head .navbar a,
#listDiv ul li,
h1 {
  color: yellow;
}

/* .listDiv ul li {
  color: red;
} */